<div class="container">
  <form>
    <div class="form-group">
      <h1 class="text-center text-primary">signup page</h1>
      <div>
        <span class="input-group-text">username</span>
        <input #username type="text" class="form-control" name="username" />
        <span class="input-group-text">email</span>
        <input #email type="text" class="form-control" name="email" />
        <span class="input-group-text">secret info</span>
        <input #secretinfo type="text" class="form-control" name="secretinfo" />
        <span class="input-group-text">password</span>
        <input #password type="text" class="form-control" name="password" />
        <span class="input-group-text">repeat password</span>
        <input type="text" #reppassword class="form-control" name="password" />
      </div>
    </div>
  </form>
  <button
    (click)="
      collect(
        username.value,
        email.value,
        secretinfo.value,
        password.value,
        reppassword.value
      )
    "
  >
    submit
  </button>
</div>

<!-- <p>if you already have acount <a href="#" routerLink="/">login</a></p> -->
