<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <img src="../../assets/logo.png" style="width: 10%; height: 10%;"/>
    <a (click)="student()">student signup</a>
    <a (click)="company()">company signup</a>
    <a (click)="center()">center signup</a>
    <a  (click)="studentl()">student login</a>
    <a  (click)="companyl()">company login</a>
    <a  (click)="centerl()">center login</a>  
</nav>

<div id="container">
    <div class="content-container">
        <h1>The Future 
            Of Education </h1>
            <p>We inted to create the best fun and original way to improve the current 
                educational system , if you want do discover more and start building 
                your dreams start now ...  </p>
                <button>Start Now</button>
    </div>
    <div class="bg-container">
        <img class="img" src="../../assets/image.png"/>
    </div>
</div>


